Assignment 1.1

In [1]:
print("Kritika")
print("Kritika")
print("Kritika")

Kritika
Kritika
Kritika

Assignment 2.1

In [2]:
a = 12
b = 23
c = 56
add = a+b+c
print(add)

91

Assignment 2.2

In [3]:
a = "Kritika"
b = " "
c = "Kandhari"
name = a+b+c
print(name)

Kritika Kandhari

Assignment 4.1

In [ ]:
for i in range (7,7*11,7):
    print(i)

print("\n")
a=9
while a <= 90 :
    print(a)
    a += 9

Assignment 4.2

In [ ]:
n = int(input("Enter number whose table you wanna know"))
for i in range (n,n*11,n):
    print(i)

Assignment 4.3

In [ ]:
n = int(input("Enter n to find sum of first n natural numbers"))
add=0
for i in range (1,n+1) :
     add += i
print(add)

15

Assignment 5.1

In [ ]:
a=int(input("Enter no. 1"))
b=int(input("Enter no. 2"))
c=int(input("Enter no. 3"))
maxi = max(a,b,c)
print(maxi)

2222

Assignment 5.2

In [ ]:
n = int(input("Enter no. n"))
sum1=0
for i in range(1,n+1):
    if i%7 == 0 and i%9 == 0 :
        sum1 += i
print(sum1)

Assignment 5.3

In [ ]:
n = int(input("Enter any number"))
sum1=0
def isPrime(i):
    if i==1 :
        return False
    for j in range(2,i//2+1):
        if i%j==0:
            return False

    return True


for i in range(1,n+1):
    if isPrime(i) :
        sum1 += i
        print(i)
print(sum1)

Assignment 6.1

In [ ]:
def addOdd(n):
    sum1=0
    for i in range(1,n+1):
        if i%2 != 0:
            sum1 += i
    return sum1
n = int(input("Enter n"))
print(addOdd(n))

9

Assignment 6.2

In [ ]:
def addPrime(n):
    sum1=0

    for i in range(2,n+1):
        f=0
        for j in range(2,i//2+1):
            if i%j==0:
                f=1
                break
        if f==0:
            sum1 += i
            print(i)
    return sum1

n = int(input("Enter no."))
print(addPrime(n))